.randomImageContainer {
    margin: 10px auto;
}

.title {
    font-size: 40px;
    margin: 30px auto;
    border: 2px solid black;
    padding: 10px 20px;
    width: 70vw;
    border-radius: 20px;
}

#footer {
    width: 100%;
    height: 100px;
    background-color: black;
    color: white;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
    
}
.table {
    margin-top: 50px;
}

.game {
    width: 90vw;
    height: 70vh;
    border: 2px solid black;
    margin: 20px auto;
    border-radius: 15px;
    background-color: lightgray;
}
#gameArea {
    position: relative;
    width:  80vw;
    height: 55vh;

    margin: 10px auto;
}

#target {
    position: relative;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    width: 50px;
    height: 50px;
    background-color:  red;
    border-radius: 50%;
    cursor: pointer;
}

.gameInfo {
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}
#reset {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
}

.videoDescription {
    width: max(60vw, 700px);
    margin: 50px auto;
}

.video {
    margin: 0 auto;
    width: max(60vw, 700px);
    height: 400px;
}